.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carousel-inner {
  height: 80vh;
}

.footer {

  bottom: 0;
  width: 100%;

  /* Adjust the background color as needed */
  padding: 20px;
  background-color: #282c34;

  margin-top: 2rem;
}

.registration-form {
  width: 75%;
  background-color: #e5ebed;
  padding: 20px;

}

.registration-form input[type="text"],
.registration-form input[type="date"],
.registration-form input[type="email"],
.registration-form input[type="tel"],
.registration-form input[type="password"],
.registration-form textarea {
  border-radius: 0;
  background-color: white;
}

.registration-form label {
  font-weight: bold;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  /* Add your desired background color */
  padding: 20px 0;
  /* Adjust padding as needed */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
 
  /* Optional: Add a shadow effect */
}

/* Additional styling for the content inside the footer */
.footer img {
  max-width: 100%;
  height: 30px;
}

.footer p {
  margin-bottom: 0;
  /* Remove default margin */
}

.footer ul {
  padding: 0;
  font-weight: 600;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #333;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
  color: #878e0d;
}