.Nav1
{
    background-color: aqua;
}

.Nav2
 {
    background-color: rgb(162, 0, 255);
}
.Pic{
    height: 24rem;
    background-color: blue;
}
.About{
    background-color: cadetblue;
}
.Mission
{
    background-color: cornflowerblue;
}
.Event
{
    background-color: rgb(31, 54, 95);
}
.Footer
{
    background-color: blanchedalmond;
}

